In [1]:
import pandas as pd
import numpy as np
abs_path = "D:\stocknet-dataset-master\price\preprocessed"
df = pd.read_csv(abs_path + '\AAPL.txt', delimiter = "\t",
                names=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])
# df.columns = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]

In [2]:
df = df.iloc[::-1]
df = df.reset_index(drop=True)

In [3]:
df = df[["Date","High","Low","Close"]]
df

            Date      High       Low     Close
0     2012-09-05  0.107768  0.109047  0.097979
1     2012-09-06  0.111639  0.120094  0.107725
2     2012-09-07  0.109697  0.116947  0.105966
3     2012-09-10  0.106800  0.111420  0.076953
4     2012-09-11  0.110742  0.119075  0.096363
...          ...       ...       ...       ...
1252  2017-08-28  0.001752  0.013387  0.000438
1253  2017-08-29 -0.008485  0.010219 -0.009104
1254  2017-08-30  0.005463  0.006016 -0.001842
1255  2017-08-31  0.001775  0.007163  0.000796
1256  2017-09-01  0.004878  0.005732 -0.002256

[1257 rows x 4 columns]

#### Extract timestamp

In [44]:
exportFolder = "../00 dataset/"

In [12]:
df['Date'] = pd.to_datetime(df['Date'])

In [13]:
trainDate = getTarinSet(df)[['Date']]
validDate = getValidSet(df)[['Date']]
testDate  = getTestSet(df)[['Date']]

In [17]:
print(len(trainDate), len(validDate), len(testDate))

398 42 64

In [22]:
# save as .npy
with open(exportFolder+'train_timestamp.npy', 'wb') as f:
    np.save(f, trainDate['Date'].to_numpy())
with open(exportFolder+'valid_timestamp.npy', 'wb') as f:
    np.save(f, validDate['Date'].to_numpy())
with open(exportFolder+'test_timestamp.npy', 'wb') as f:
    np.save(f, testDate['Date'].to_numpy())

In [18]:
# save as csv (with index)
trainDate.to_csv(exportFolder+'train_timestamp.csv',  header=True)
validDate.to_csv(exportFolder+'valid_timestamp.csv',  header=True)
testDate.to_csv(exportFolder+'test_timestamp.csv',  header=True)

#### Get all files of a directory

In [4]:
from os import walk

_, _, filenames = next(walk(abs_path))

In [5]:
print(len(filenames))
filenames[:5]

88

['AAPL.txt', 'ABB.txt', 'ABBV.txt', 'AEP.txt', 'AGFS.txt']

#### Extract all price data

In [6]:
exportFolder = "../00 dataset/"

In [7]:
from datetime import datetime

def getTarinSet(df):
    start = datetime(2014, 1, 1)
    end   = datetime(2015, 7, 31)
    df = df.loc[(df.Date >= start) & (df.Date <= end)]
    return df

def getValidSet(df):
    start = datetime(2015, 8, 1)
    end   = datetime(2015, 9, 30)
    df = df.loc[(df.Date >= start) & (df.Date <= end)]
    return df

def getTestSet(df):
    start = datetime(2015, 10, 1)
    end   = datetime(2016, 1, 1)
    df = df.loc[(df.Date >= start) & (df.Date <= end)]
    return df

In [42]:
# this function is called when there missing value, complacity O(n^2)
def fillzero(df):
#     trainDateArr = trainDate['Date'].to_numpy()
#     train = df['Date'].to_numpy()
    for i, v in enumerate(trainDate):
        if v in df['Date']
    if datetime(2014, 1, 2) == trainDateArr[1]:
        print("yes")
    else:
        print("no")

In [ ]:
for i, row in trainDate.iterrows():
    if row['Date'] not in missing_df:
        missing_df.loc[-1] = [row['Date'], 0, 0, 0]

In [56]:
trainDate.loc[527]

Date   2015-07-31
Name: 527, dtype: datetime64[ns]

In [54]:
trainDate

          Date
527 2015-07-31
528 2015-07-30
529 2015-07-29
530 2015-07-28
531 2015-07-27
..         ...
920 2014-01-08
921 2014-01-07
922 2014-01-06
923 2014-01-03
924 2014-01-02

[398 rows x 1 columns]

In [44]:
datetime(2014, 1, 2)

datetime.datetime(2014, 1, 2, 0, 0)

In [53]:
trainDate['Date'][527]

Timestamp('2015-07-31 00:00:00')

In [47]:
df.iloc[2,0]

Timestamp('2017-08-30 00:00:00')

In [43]:
fillzero(df)

no

In [25]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-09-01,0.000305,0.004878,0.005732,-0.002256,0.050003,16552800.0
1,2017-08-31,0.003979,0.001775,0.007163,0.000796,0.649994,26785100.0
2,2017-08-30,0.002701,0.005463,0.006016,-0.001842,0.440002,27269600.0
3,2017-08-29,0.008918,-0.008485,0.010219,-0.009104,1.440003,29516900.0
4,2017-08-28,0.010071,0.001752,0.013387,0.000438,1.610000,25966000.0
...,...,...,...,...,...,...,...
1252,2012-09-11,-0.003244,0.110742,0.119075,0.096363,-0.277496,125995800.0
1253,2012-09-10,-0.026013,0.106800,0.111420,0.076953,-2.284607,121999500.0
1254,2012-09-07,0.006166,0.109697,0.116947,0.105966,0.538215,82416600.0
1255,2012-09-06,0.009012,0.111639,0.120094,0.107725,0.779618,97799100.0
1256,2012-09-05,-0.007022,0.107768,0.109047,0.097979,-0.611802,84093800.0

幾乎所有trainset的len = 398，有173,217,0三支不合群  
幾乎所有validset的len = 42，有1支為0  
幾乎所有testset的len = 64，有1支為0
``` 
AGFS.txt
BABA.txt
GMRE.txt
```

In [9]:
# label_array = np.array([])
label_array = []

for filename in filenames:
    # read a single file
    df = pd.read_csv(abs_path + "\\" + filename, delimiter = "\t", names=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])
    df = df.iloc[::-1]
    df = df.reset_index(drop=True)
    df = df[["Date","Close"]]
    
    # divide into train, valid, test
    df['Date'] = pd.to_datetime(df['Date'])
    df_train = getTarinSet(df)
    df_valid = getValidSet(df)
    df_test  = getTestSet(df)
    
    # insert the missing rows with 0 (for 3 stocks)
    if len(trainset) in [173,217,0]:
        print(filename)
    
    # init column with derived value np.nan
#     df['Label'] = np.nan
    
    # apply label fram index 5 ~ last, if price ↑ then assign 1
#     for i in range(1, len(df)):
#         df.loc[i, 'Label'] = 1 if df.loc[i, 'Close'] >= df.loc[i-1, 'Close'] else 0
        
#     label = df['Label']
#     label_array = np.append(label_array, label.to_numpy())
#     label_array.append(label.to_numpy())

AGFS.txt
BABA.txt
GMRE.txt

In [ ]:
# save as .npy
label_array = np.array(label_array)
with open(exportFolder+'label.npy', 'wb') as f:
    np.save(f, label_array)

In [31]:
label_array.shape

(88,)

In [37]:
with open(exportFolder+'len.txt', 'w') as f:
    for i, v in enumerate(label_array):
        f.write(str(i) + " " + str(v.shape) + '\n')

### 以下是測試單一支股票的code
現在用不到了 不要執行到唷~

#### Extract timestamp

In [45]:
timestamp = pd.to_datetime(df['Date'])
timestamp.to_csv(exportFolder+'timestamp.csv',  header=True)

In [46]:
with open(exportFolder+'timestamp.npy', 'wb') as f:
    np.save(f, timestamp.to_numpy())

In [47]:
with open(exportFolder+'timestamp.npy', 'rb') as f:
    a = np.load(f)

In [48]:
a

array(['2012-09-05T00:00:00.000000000', '2012-09-06T00:00:00.000000000',
       '2012-09-07T00:00:00.000000000', ...,
       '2017-08-30T00:00:00.000000000', '2017-08-31T00:00:00.000000000',
       '2017-09-01T00:00:00.000000000'], dtype='datetime64[ns]')

#### Extract label

In [50]:
import numpy as np

# init column with derived value np.nan
df['Label'] = np.nan
df.head(2)

         Date      High       Low     Close  Label
0  2012-09-05  0.107768  0.109047  0.097979    NaN
1  2012-09-06  0.111639  0.120094  0.107725    NaN

In [51]:
# apply label fram index 5 ~ last
# if price ↑ then assign 1
for i in range(1, len(df)):
    df.loc[i, 'Label'] = 1 if df.loc[i, 'Close'] >= df.loc[i-1, 'Close'] else 0

In [52]:
df.head(10)

         Date      High       Low     Close  Label
0  2012-09-05  0.107768  0.109047  0.097979    NaN
1  2012-09-06  0.111639  0.120094  0.107725    1.0
2  2012-09-07  0.109697  0.116947  0.105966    0.0
3  2012-09-10  0.106800  0.111420  0.076953    0.0
4  2012-09-11  0.110742  0.119075  0.096363    1.0
5  2012-09-12  0.117272  0.122382  0.099094    1.0
6  2012-09-13  0.119309  0.132744  0.115013    1.0
7  2012-09-14  0.118095  0.129471  0.114741    0.0
8  2012-09-17  0.119705  0.120425  0.112116    0.0
9  2012-09-18  0.106942  0.110817  0.101470    0.0

In [53]:
df.tail(10)

            Date      High       Low     Close  Label
1247  2017-08-21  0.000000  0.002476 -0.015175    0.0
1248  2017-08-22  0.006488  0.017747  0.005152    1.0
1249  2017-08-23 -0.004444  0.004318 -0.005633    0.0
1250  2017-08-24  0.002813  0.004751 -0.008939    0.0
1251  2017-08-25  0.002386  0.008099  0.000000    1.0
1252  2017-08-28  0.001752  0.013387  0.000438    1.0
1253  2017-08-29 -0.008485  0.010219 -0.009104    0.0
1254  2017-08-30  0.005463  0.006016 -0.001842    1.0
1255  2017-08-31  0.001775  0.007163  0.000796    1.0
1256  2017-09-01  0.004878  0.005732 -0.002256    0.0

In [54]:
label = df['Label']
label.to_csv(exportFolder+'label.csv',  header=True)

In [55]:
with open(exportFolder+'label.npy', 'wb') as f:
    np.save(f, label.to_numpy())

In [56]:
with open(exportFolder+'label.npy', 'rb') as f:
    a = np.load(f)
a

array([nan,  1.,  0., ...,  1.,  1.,  0.])

#### Extract price data

In [58]:
price = df[["High","Low","Close"]]
price.to_csv(exportFolder+'price.csv',  header=True)

In [59]:
with open(exportFolder+'price.npy', 'wb') as f:
    np.save(f, price.to_numpy())

In [60]:
with open(exportFolder+'price.npy', 'rb') as f:
    a = np.load(f)
a

array([[ 0.107768,  0.109047,  0.097979],
       [ 0.111639,  0.120094,  0.107725],
       [ 0.109697,  0.116947,  0.105966],
       ...,
       [ 0.005463,  0.006016, -0.001842],
       [ 0.001775,  0.007163,  0.000796],
       [ 0.004878,  0.005732, -0.002256]])