In [30]:
import pandas as pd
abs_path = "D:\stocknet-dataset-master\price\preprocessed"
df = pd.read_csv(abs_path + '\AAPL.txt', delimiter = "\t",
                names=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])
# df.columns = ["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"]

In [31]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-09-01,0.000305,0.004878,0.005732,-0.002256,0.050003,16552800.0
1,2017-08-31,0.003979,0.001775,0.007163,0.000796,0.649994,26785100.0
2,2017-08-30,0.002701,0.005463,0.006016,-0.001842,0.440002,27269600.0
3,2017-08-29,0.008918,-0.008485,0.010219,-0.009104,1.440003,29516900.0
4,2017-08-28,0.010071,0.001752,0.013387,0.000438,1.610000,25966000.0
...,...,...,...,...,...,...,...
1252,2012-09-11,-0.003244,0.110742,0.119075,0.096363,-0.277496,125995800.0
1253,2012-09-10,-0.026013,0.106800,0.111420,0.076953,-2.284607,121999500.0
1254,2012-09-07,0.006166,0.109697,0.116947,0.105966,0.538215,82416600.0
1255,2012-09-06,0.009012,0.111639,0.120094,0.107725,0.779618,97799100.0
1256,2012-09-05,-0.007022,0.107768,0.109047,0.097979,-0.611802,84093800.0

In [32]:
df = df[["Date","High","Low","Close"]]
df

            Date      High       Low     Close
0     2017-09-01  0.004878  0.005732 -0.002256
1     2017-08-31  0.001775  0.007163  0.000796
2     2017-08-30  0.005463  0.006016 -0.001842
3     2017-08-29 -0.008485  0.010219 -0.009104
4     2017-08-28  0.001752  0.013387  0.000438
...          ...       ...       ...       ...
1252  2012-09-11  0.110742  0.119075  0.096363
1253  2012-09-10  0.106800  0.111420  0.076953
1254  2012-09-07  0.109697  0.116947  0.105966
1255  2012-09-06  0.111639  0.120094  0.107725
1256  2012-09-05  0.107768  0.109047  0.097979

[1257 rows x 4 columns]

#### Extract timestamp

In [7]:
timestamp = pd.to_datetime(df['Date'])
timestamp.to_csv('timestamp.csv',  header=True)

In [11]:
import numpy as np

with open('timestamp.npy', 'wb') as f:
    np.save(f, timestamp.to_numpy())

In [13]:
with open('timestamp.npy', 'rb') as f:
    a = np.load(f)

In [14]:
a

array(['2017-09-01T00:00:00.000000000', '2017-08-31T00:00:00.000000000',
       '2017-08-30T00:00:00.000000000', ...,
       '2012-09-07T00:00:00.000000000', '2012-09-06T00:00:00.000000000',
       '2012-09-05T00:00:00.000000000'], dtype='datetime64[ns]')

#### Extract label

In [5]:
window = 5

In [25]:
import numpy as np

# init column with derived value np.nan
df['Label'] = np.nan
df.head(2)

         Date      High       Low     Close  Label
0  2017-09-01  0.004878  0.005732 -0.002256    NaN
1  2017-08-31  0.001775  0.007163  0.000796    NaN

In [ ]:
好像不太對

In [33]:
# apply label fram index 5 ~ last
# if price ↑ then assign 1
for i in range(window, len(df)):
    df.loc[i, 'Label'] = 1 if df.loc[i, 'Close'] >= df.loc[i-window, 'Close'] else 0

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [28]:
df.head(10)

         Date      High       Low     Close  Label
0  2017-09-01  0.004878  0.005732 -0.002256      0
1  2017-08-31  0.001775  0.007163  0.000796      0
2  2017-08-30  0.005463  0.006016 -0.001842      0
3  2017-08-29 -0.008485  0.010219 -0.009104      0
4  2017-08-28  0.001752  0.013387  0.000438      0
5  2017-08-25  0.002386  0.008099  0.000000      0
6  2017-08-24  0.002813  0.004751 -0.008939      0
7  2017-08-23 -0.004444  0.004318 -0.005633      0
8  2017-08-22  0.006488  0.017747  0.005152      0
9  2017-08-21  0.000000  0.002476 -0.015175      0

In [29]:
df.tail(10)

            Date      High       Low     Close  Label
1247  2012-09-18  0.106942  0.110817  0.101470      0
1248  2012-09-17  0.119705  0.120425  0.112116      0
1249  2012-09-14  0.118095  0.129471  0.114741      0
1250  2012-09-13  0.119309  0.132744  0.115013      0
1251  2012-09-12  0.117272  0.122382  0.099094      0
1252  2012-09-11  0.110742  0.119075  0.096363      0
1253  2012-09-10  0.106800  0.111420  0.076953      0
1254  2012-09-07  0.109697  0.116947  0.105966      0
1255  2012-09-06  0.111639  0.120094  0.107725      0
1256  2012-09-05  0.107768  0.109047  0.097979      0

#### Extract price data

#### Get all files of a directory

In [3]:
from os import walk

_, _, filenames = next(walk(abs_path))

In [18]:
print(len(filenames))
filenames[:5]

88

['AAPL.txt', 'ABB.txt', 'ABBV.txt', 'AEP.txt', 'AGFS.txt']